{% extends 'layouts/base.html.twig' %}

{#{% block title %}Hello PinController!{% endblock %}#}

{% block body %}
    {% if allPins|length > 0 %}
        <h1>{{ is_plural(allPins|length, 'Pin') }}</h1>

        {% for pin in allPins %}
            <article>
                <h2><a href="{{ path('app_pin_show', {id: pin.id}) }}">{{ pin.title }}</a></h2>
                <p>{{ pin.description|u.truncate(20, '...', false) }}</p>
                <p>Submitted {{ pin.createdAt|date('d/m/Y') }} at {{ pin.createdAt|date('h:i') }}.</p>
                {#<p>Submitted {{pin.createdAt|ago}}</p> // using knplabs/knp-time-bundle #}
            </article>
        {% endfor %}
    {% else %}
        <h1>No pins</h1>
    {% endif %}
{% endblock %}
